.books {
    width: 170px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.books li {
    font-size: 16px;
    font-weight: 500;
}

.books p {
    font-style: italic;
}
